body {
  background-image: url("../img/pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
button {
  font-family: 'Ewert', cursive;
  background-color: red;
  border: 3px solid white;
  border-radius: 300px;
  color: white;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
form {
  background-color: white;
  border: 5px solid black;
  border-radius: 50px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 30px;
  text-align: center;
  width: 80%;
}
.output {
  background-color: white;
  border: 5px solid black;
  border-radius: 50px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 30px;
  text-align: left;
  width: 80%;
}
.formBox {
  border-radius: 50px;
  box-shadow: 3px -3px red;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.top h1{
  color: white;
  font-family: 'Ewert', cursive;
  font-size: 100px;
  text-shadow: -5px -5px black;
}
.hidden {
  display: none;
}
.hidden2 {
  transition-delay: 6s;
  opacity: 0;
}
.homer {
  background-size: cover;
  background-repeat: no-repeat;
  transition-delay: 6s;
  background-image: url("../img/giphy.gif");
}
#startOrder {
  font-size: 100px;
  padding: 40px;
}
